@media (max-width: $screen-sm) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all .25s ease-out;
           -o-transition: all .25s ease-out;
              transition: all .25s ease-out;
    }
    .toggleNav{
        float: left;
        height: 37px;
        border-radius: 0;
        position: relative;
        z-index: 1;
    }
    .row-offcanvas-right {
      right: 0;
    }
  
    .row-offcanvas-left {
      left: 0;
    }
  
    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -200px; 
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -200px; 
    }
  
    .row-offcanvas-right.active {
      right: 200px; 
    }
  
    .row-offcanvas-left.active {
      left: 200px; 
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 200px; 
      height: calc(100vh - 91px);
      overflow: auto;
    }
  }
  .IncompleteLog {
    border: 1px solid #ccc;
    li{
        border-bottom: none!important;
        display: inline-block;
        width: 50%;
        a{
            padding: 5px 0!important;
            font-weight: 400!important;
        }
    }
    p{margin: 5px 0;padding:10px 0 0 17px;color: $brand-danger;font-weight: 500;text-transform: uppercase}
  }
  nav #navbar{
      width: 100%;
  }
  .sidebar-yellow{background-color: $primary-light}
  .page-sidebar{      
      ul{
          list-style: none;padding: 0 20px;
          margin-bottom: 0;
          li{
              border-bottom: 1px solid #cfb377;
              a{
                  padding: 8px 0;
                  display: block;
                  font-weight: 500;
              }
          }
        }

  }
  @media (min-width: $screen-sm) {
    .page-sidebar{
        width: 200px; 
        display: block;
        float: left;
    }
    .SectionRight{
        display: block;
        margin-left: 200px;
    }
    nav #navbar{
        height: 42px!important;
    }
    
  }